.App {
  font-family: sans-serif;
  text-align: center;
}
.board {
  display: grid;
  gap: 5px;
  justify-content: center;
}
.cell {
  height: 100px;
  width: 100px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
}
